*{
    margin: 0px;
    padding: 0px;
}
.FlexDiv{
    flex-direction: column;
    width: 890px;
    display: flexbox;
}
.FlexDiv a{
    margin-right: 190px;
    width: 235px;
}
.Flex {
    flex-wrap: wrap;
    display: inline-flex;
    padding: 3px;
    margin: 3px;
    height: 130px;
    width: 420px;
    flex-basis: 49%;
    border-radius: .6rem;
    transition: .4s;
    flex-basis: 49%;
}
.Flex:hover{
    background-color: #ececec;
    transform: scale(1.04,1.04);
    cursor:pointer;
}
.Flex img {
    width: 130px;
    height: 130px;
    border-radius: .6rem;
}
.Flex h4, h5, h6, a {
    display: inline-block;
    margin: 10px 0px 0px 15px;
    height: 23px;
    color: #757575;
}
.Flex p {
    word-wrap: break-word;
    margin: 10px 0px 0px 15px;
    height: 20px;
    color: #757575;
}
#header{
    background-image: url(pictures/background.jpg);
    height: 500px;
}
header{
    background-color:rgba(255,255,255,0.6);
    background-size: auto;
    background-blend-mode:lighten;
    opacity: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
header h1{
    margin-left: 55px;
    margin-top: 55px;
    font-size: 60px;
}
header nav{
    padding-top: 12px;
    text-align: center;
    background-color: black;
    height: 65px;
    box-sizing: border-box;
}
nav *{
    color: aliceblue;
}
nav ul{
    display: flex;
    list-style: none;
    display: inline-flex;
    margin: 0px 200px 0px 7px;
    height: 23px;
    color: #757575;
    /* margin-top: 12px; */
}
nav li, :not(img){
    padding: 0;
    /* margin-right: 55px;
    margin-left: 10px; */
}
header img{
    width: 70px;
}

a {
    text-decoration: none;
}
.main-box {
    float: left;
    width: 100%;
}

main{
    width: 900px;
    margin: 0 auto;
}
h1{
    font-size: 44px;
    margin: 0px 0px 0px 0px ;
}
h2{
    font-size: 33px;
}
h3{
    font-size: 22px;
}

.text_fadein{
  animation-name: fade;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
.link a{
    display: block;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.animation_box {
  padding: 10px;
  animation: fadeIn 2.5s ease 1s 1 normal backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
