.flex {
    display: flex;
    padding: 10px;
}

.flex img {
    width: 160px;
    height: 160px;

}

.flex p {
    width: 300px;
    display: inline-block;
    margin-left: 15px;
    font-size: 13px;
    color: #b3aeb5;
}

main{
    margin-left:120px;
}
h1{
    font-size: 44px;
}

.text_fadein{
  animation-name: fade;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
.link a{
    display: block;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.animation_box {
  padding: 10px;
  animation: fadeIn 2.5s ease 1s 1 normal backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header h1{
  text-align: center;
}