.flex {
    display: flex;
    padding: 10px;
}

.flex img {
    width: 160px;
    height: 160px;

}

.flex p {
    width: 300px;
    display: inline-block;
    margin-left: 15px;
    font-size: 13px;
    color: #b3aeb5;
}

main{
    margin-left:120px;
}
h1{
    font-size: 44px;
}
